#about
{
    background-color: aquamarine;
}

 .overlay{
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    width:100%;
    height: 100vh;
    background: url('image_fond.jpg') center center no-repeat;
    background-size: cover;
    z-index:-100;
} 
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

}
.nav a {
    text-decoration: none;
    margin: 0 10px; /* Espacement horizontal entre les navlinks */

}

.carousel-item active
{
    height:32rem;
    background: #777;
}